# mkdocs output
site

# IntelliJ stuff
*.iml
.idea

# Dev secrets
dev-config

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

.venv
